

:root {
--color-light: white;
--color-dark: #212121;
--color-signal: #fab700;

--color-background: var(--color-light);
--color-text: rgb(230, 164, 12);
--color-accent: var(--color-signal);

--size-bezel: .5rem;
--size-radius: 4px;

line-height: 1.4;

font-family: 'Inter', sans-serif;
font-size: calc(.6rem + .4vw);
color: var(--color-text);
background: black;
font-weight: 300;
padding: 0 calc(var(--size-bezel) * 3);
}
* {
  box-sizing: border-box;
  }


h1, h2 {
  font-family: Jost, sans-serif;
  
}
a:-webkit-any-link {
  color: #FF7E31;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}
p, a {
  font-family: Jost, sans-serif;
}

.hero {
	/* background: linear-gradient(-45deg, #f3dbdb, #f0e9b8, #def5c2, #b4edf0); */
  /* display: flex;
	background-size: 200% 200%;
  border-radius: 10px;
	animation: gradient 15s ease infinite;
	height: auto;
    font-family: Jost, sans-serif; */
    color: #ddd;
    margin: 10px;
    padding: 20px;
    margin: 0 20px 0 20px;
    justify-content: center;
    align-items: center;
}
.web-dev {
  color:#FF7E31;
  font-weight: bold;
}

.web-dev:hover {
  
  color:yellow;
}
.main-index {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  
}

.about-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.check-button {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  background-color: #e5f00d;
  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.check-button:hover,
.check-button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.check-button:active {
  background: var(--color);
  color: #fff;
}

@media (min-width:645px) {
  .check-button {
    padding: 16px 32px;
  }
  
}




#profile-pic {
  width: 150px;
  height: auto;
  box-shadow: 0 1px 8px 0 rgba(0.2, 0, 0, 0), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  
  border-radius: 5px; 
  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




.header {
  overflow: hidden;
  background-color:black;
  padding: 10px 10px;
}


.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}


.header a.logo {
  font-size: 25px;
  font-weight: bold;
}


.header a:hover {
  background-color: #ddd;
  color: black;
}


.header a.active {
  background-color: rgb(167, 130, 43);
  color: white;
}


.header-right {
  float: right;
}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
    font-size: small;
  }
  .header-right {
    float: none;
  }
  div.about-me{
    font-size: 20px;
    margin: 0;

  }
  .check-button {
    font-size: small;
  }
  
 
}

.about-me {
    
    text-align: left;
    font-size: 40px;
    /* font-family: Indie flower; */
    color: rgb(66, 152, 40);
    margin: 10px 0 50px 0px;
    width: 100%; }

  
.work-grid {
  display: flex;
  flex-direction: column;
  width: 50%;
}



.work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    font-size: 18px;
    font-family: Jost;
    /* width: 70%; */
    margin-left: 30px;
    padding-left: 30px;
    margin-bottom: 20px;
    margin-top: 0px;

   
}
a:active {
    color: red;
  }
  
  
.contact-link {
    font-size: 30px;
    margin-bottom: 75px;
}

.container img {
    border: 1px solid #ddd;
    border-radius: 10px;
    /* padding: 5px; */
    width: 100%;
    height: auto;
    
  }
  
 
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(2, auto);
    gap: 3rem;
    width: min(90%, 100rem);
    
    margin: 0 auto;
    padding: 3rem;
    font-family: Jost;
    background-color: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .img-text {
    
    /* top: 16px;
    left: px; */
    color: rgb(223, 136, 14);
    width: 100%;
    font-size: 26px;
    margin-left: 180px;
    margin-bottom: 20px;

  }

  /* .slider__slide img {
    /* width: 100%;
    height: auto;
    align-items: center; 
   
  object-position: center center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  }
  .slider {
    display: block;
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 10px;
    overflow: hidden;
  }

  /* .slider__slides {
    width: 100%;
    padding-top: 66%;
  } */
  
  /* .slider__slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: bold;   
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: none;
      transition: 1s;
      opacity: 0;
      padding: 10px;
  } */


  
  /* .slider__slide.active {
      opacity: 1;
     display: flex;
      flex-direction: column;
      background-color: none;
      align-items: center;
      justify-content: center; 
  } */

  /* .slider__nav-button {
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #333;
    opacity: .8;
    cursor: pointer;
} */

/* #nav-button--prev {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
} */

/* #nav-button--next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
} */

/* #nav-button--prev::after,
#nav-button--next::after {
    content: "";
    position: absolute;
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    width: 40%;
    height: 40%;
} */

/* #nav-button--next::after{
  top: 50%;
  right: 50%;
  transform: translate(25%, -50%) rotate(-45deg);
} */

/* #nav-button--prev::after {
  top: 50%;
  right: 50%;
  transform: translate(75%, -50%) rotate(135deg);
}  */

@media screen and (max-width: 640px) {
  /* .slider__nav-button {
    height: 40px;
    width: 40px;
  } */

  .project {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    background-color: #343634;
  }


  .img-text {
    
    
    color: rgb(223, 136, 14);
    width: 50%;
    font-size: small;
    margin: 0;

  }
}

.slider__nav {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.slider__navlink {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px #fff solid;
  background-color: #333;
  opacity: .5;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.slider__navlink.active {
  background-color: #fff;
  border: 1px #333 solid;
}
  
  /* .container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */
  
  /* .container > div > h3 {
    margin-top: 0;
  }
  
  .container > div > p {
    margin-bottom: 0;
    
  }
  
  .container > div > a {
    display: block;
    margin-top: .2rem;
  } */
  
 .phone-no {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 } 


.contact-me {
    display: flex;
    flex-direction: row;
    
    
   
    font-size: 20px;
    font-family: Jost;
    
    /* height: 200px; */
    margin-bottom: 20px;
    
}

/* .contact-text {
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 10px;
} */

/* .contact-pic {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 50%;
} */

.submit-button {
  
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  /* z-index: 9; */
  border: 0;
  transition: box-shadow .2s;
}

.submit-button:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}


#mail {
    width: 200px;
    height: 200px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: white;
    height: max-content;
    font-family: Jost;
    font-size: small;
    position:fixed;
    left:0px;
    bottom:0px;
    
    width: -webkit-fill-available;
    /* background:#999; */
    
}



#social-logo {
    width: 70px;
    height: auto;
}


form {
	margin-top: 30px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background-color: none;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	font-size: 16px;
	margin-bottom: 5px;
	color: #333;
}

input[type="text"],
input[type="email"],
textarea {
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 3px;
	border: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	margin-bottom: 20px;
}

input[type="submit"] {
	display: block;
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border-radius: 3px;
	border: none;
	font-size: 16px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #444;
}

.about-page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #FF7E31;
  }
  
  p {
    
    line-height: 1.5;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .back-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px;
  }

  .contact-me-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

@media screen and (max-width:640px) {

  .contact-link {
    font-size: 20px;
    margin-bottom: 75px;
}
  
    .hero { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        
      }
    
    #profile-pic {
      width: 70px;
    }

    .slider__navlink {
      display: inline-block;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      border: 1px #fff solid;
      background-color: #333;
      opacity: .5;
      margin: 0 5px 0 5px;
      cursor: pointer;
    }

    header > h4 {
      font-family: Jost, sans-serif;
      font-size: 12px;
      text-align: left;
      margin-left: 20px;
      margin-top: 15px;
      display: inline-block;
    }
    
    .nav_right > p {
        display: inline-block;
        margin: 15px 5px 5px 10px;
        font-family: Jost, sans-serif;
        font-size: 12px;
        

        
        
        
    }
    
    


      .container {
        font-size: small;
        display: flex;
        flex-direction: column;
        gap: 1px;
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 1px;
        
      }
      .container img {
        
        /* border: 1px solid #ddd; */
        border-radius: 4px;
        padding: 5px;
        width: 100%;
        height: auto;
        
        
      }

  
      
      .contact-text {
        /* display: flex; */
        flex-direction: column;
        justify-content: left;
        align-items: center;
        
        /* padding-left: 40px; */
        font-size: small;
    }

      .container > div > H3 {
        /* font-size: medium;
        margin-top: 20px; */
        align-items: center;
      }
     
      .contact-me-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      

 

     

      footer {
        display: flex;
        flex-direction: column;
        
        width: auto;
        justify-content: center;
        font-size: 5px;
        padding-bottom: 0px;
        width: 100vw;
        
      }

      #social-logo {
        width: 20px;
        height: auto;
      }

      .work > p{
        
        font-size: 15px;
        
      }
      
      .work {
        margin-left: 30px;
        padding-left: 0px;
      }

      .footer-name {
        font-size: 5px;

      }

      h1 {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }
      
      .about-page-container > p {
        font-size: 12px;}

      }
      